
<div class="scgg-type-list">
    <button id="scgg-type-edge-common" type="button" class="btn btn-default">
        <img src="static/components/images/scgg/alphabet/scgg-edge-common.png"/>
    </button>
    <button id="scgg-type-arc-common" type="button" class="btn btn-default">
        <img src="static/components/images/scgg/alphabet/scgg-arc-common.png"/>
    </button>
    <button id="scgg-type-arc-common-access" type="button" class="btn btn-default">
        <img src="static/components/images/scgg/alphabet/scgg-arc-common-access.png"/>
    </button>
    <button id="scgg-type-edge-const" type="button" class="btn btn-default">
        <img src="static/components/images/scgg/alphabet/scgg-edge-const.png"/>
    </button>
    <button id="scgg-type-arc-const" type="button" class="btn btn-default">
        <img src="static/components/images/scgg/alphabet/scgg-arc-const.png"/>
    </button>
    <button id="scgg-type-arc-const-perm-pos-access" type="button" class="btn btn-default">
        <img src="static/components/images/scgg/alphabet/scgg-arc-const-perm-pos-access.png"/>
    </button>
    <button id="scgg-type-arc-const-perm-neg-access" type="button" class="btn btn-default">
        <img src="static/components/images/scgg/alphabet/scgg-arc-const-perm-neg-access.png"/>
    </button>
    <button id="scgg-type-arc-const-perm-fuz-access" type="button" class="btn btn-default">
        <img src="static/components/images/scgg/alphabet/scgg-arc-const-perm-fuz-access.png"/>
    </button>
    <button id="scgg-type-arc-const-temp-pos-access" type="button" class="btn btn-default">
        <img src="static/components/images/scgg/alphabet/scgg-arc-const-temp-pos-access.png"/>
    </button>
    <button id="scgg-type-arc-const-temp-neg-access" type="button" class="btn btn-default">
        <img src="static/components/images/scgg/alphabet/scgg-arc-const-temp-neg-access.png"/>
    </button>
    <button id="scgg-type-arc-const-temp-fuz-access" type="button" class="btn btn-default">
        <img src="static/components/images/scgg/alphabet/scgg-arc-const-temp-fuz-access.png"/>
    </button>
    <button id="scgg-type-edge-var" type="button" class="btn btn-default">
        <img src="static/components/images/scgg/alphabet/scgg-edge-var.png"/>
    </button>
    <button id="scgg-type-arc-var" type="button" class="btn btn-default">
        <img src="static/components/images/scgg/alphabet/scgg-arc-var.png"/>
    </button>
    <button id="scgg-type-arc-var-perm-pos-access" type="button" class="btn btn-default">
        <img src="static/components/images/scgg/alphabet/scgg-arc-var-perm-pos-access.png"/>
    </button>
    <button id="scgg-type-arc-var-perm-neg-access" type="button" class="btn btn-default">
        <img src="static/components/images/scgg/alphabet/scgg-arc-var-perm-neg-access.png"/>
    </button>
    <button id="scgg-type-arc-var-perm-fuz-access" type="button" class="btn btn-default">
        <img src="static/components/images/scgg/alphabet/scgg-arc-var-perm-fuz-access.png"/>
    </button>
    <button id="scgg-type-arc-var-temp-pos-access" type="button" class="btn btn-default">
        <img src="static/components/images/scgg/alphabet/scgg-arc-var-temp-pos-access.png"/>
    </button>
    <button id="scgg-type-arc-var-temp-neg-access" type="button" class="btn btn-default">
        <img src="static/components/images/scgg/alphabet/scgg-arc-var-temp-neg-access.png"/>
    </button>
    <button id="scgg-type-arc-var-temp-fuz-access" type="button" class="btn btn-default">
        <img src="static/components/images/scgg/alphabet/scgg-arc-var-temp-fuz-access.png"/>
    </button>
</div>

