<div class="input-group input-group-graph-name sc-no-default-cmd" sc_control_sys_idtf="ui_graph_name_input">
    <div class="input-helper" ></div>
    <input id="graph-name-input" type="text" class="form-control" disabled>
    <span class="input-group-btn">
        <button class="btn btn-default" type="button">
              <img class="button-img-edit" src="static/components/images/scgg/graph-name-edit.png"/>
              <img class="button-img-save" src="static/components/images/scgg/graph-name-save.png" hidden/>
        </button>
    </span>
</div>
