<div class="sc-no-default-cmd" xmlns="http://www.w3.org/1999/html">
    <input class="sc-no-default-cmd solve-param" type="button" readonly="readonly" data-title="Add element for solve"
           data-content="
            <div class='input-group'>
                <input id='solve-change-idtf-input' class='form-control pull-left' value='' autofocus />
                <div class='input-group-btn'>
                    </button><button type='button' id='solve-change-idtf-cancel' class='btn btn-danger'>
                        <span class='glyphicon glyphicon-remove-sign'/>
                    </button>
                </div>
            </div>"
           data-html="true" data-placement="bottom" data-toggle="popover" title=""/>
    <div id="param"></div>
    <button id="tool-resolve" type="button" class="btn btn-default sc-no-default-cmd btn-success" sc_control_sys_idtf="ui_graph_resolve"></button>
    <button id="add-param" type="button" class="btn btn-default btn-success"><span class="glyphicon glyphicon-plus-sign"></span></button>
</div>