<div class="scgg-random-graph-panel">
    <div class="nodes-count">
        <p class="node-count-label">Количество вершин</p>
        <input class="label" type="text" value="asdasd">
    </div>
    <div class="slider-block">
        <p class="probability">Вероятность нахождения связи</p>
        <div class="slider">
            <input class="slider-input" type="range" min="0" max="100" id="size" value="50">
            <input class="label" type="text" value="asdasd">
        </div>
    </div>
    <input class="create-graph" value="Создать граф" type="button">
</div>
