<div class="scgg-tools-panel">
    <div class="btn-group-vertical" data-toggle="buttons">
        <label id="scgg-tool-select" class="btn btn-default sc-no-default-cmd btn-xs" sc_control_sys_idtf="ui_scgg_control_tool_select">
            <input type="radio" name="options" id="option1"> <img src="static/components/images/scgg/tool-select.png"/> </input>
        </label>
        <label id="scgg-tool-edge" class="btn btn-default sc-no-default-cmd btn-xs" sc_control_sys_idtf="ui_scgg_control_tool_edge">
            <input type="radio" name="options" id="option1"> <img src="static/components/images/scgg/tool-pair.png"/> </input>
        </label>
    </div>
    <hr/>
    <div class="btn-group-vertical">
        <button id="scgg-tool-undo" type="button" class="btn btn-default sc-no-default-cmd btn-xs" sc_control_sys_idtf="ui_scgg_control_tool_undo">
            <img src="static/components/images/scgg/tool-undo.png"/>
        </button>
        <button id="scgg-tool-redo" type="button" class="btn btn-default sc-no-default-cmd btn-xs" sc_control_sys_idtf="ui_scgg_control_tool_redo">
            <img src="static/components/images/scgg/tool-redo.png"/>
        </button>
        <button id="scgg-tool-change-idtf" type="button" class="btn btn-default sc-no-default-cmd btn-xs hidden" sc_control_sys_idtf="ui_scgg_control_tool_change_idtf" data-title="Change identifier"
                data-content="<div class='input-group'><input id='scgg-change-idtf-input' class='form-control pull-left' value='' autofocus /> <div class='input-group-btn'><button type='button' id='scgg-change-idtf-apply' class='btn btn-success'><span class='glyphicon glyphicon-ok-sign'/></button><button type='button' id='scgg-change-idtf-cancel' class='btn btn-danger'><span class='glyphicon glyphicon-remove-sign'/></button></div></div>"
                data-html="true" data-placement="right" data-toggle="popover">
            <img src="static/components/images/scgg/tool-change-idtf.png"/>
        </button>
        <button id="scgg-tool-change-type" type="button" class="btn btn-default sc-no-default-cmd btn-xs hidden" sc_control_sys_idtf="ui_scgg_control_tool_change_type" >
            <img src="static/components/images/scgg/tool-change-type.png"/>
        </button>
        <button id="scgg-tool-delete" type="button" class="btn btn-default sc-no-default-cmd btn-xs hidden" sc_control_sys_idtf="ui_scgg_control_tool_delete">
            <img src="static/components/images/scgg/tool-delete.png"/>
        </button>
        <button id="scgg-tool-zoomin" type="button" class="btn btn-default sc-no-default-cmd btn-xs" sc_control_sys_idtf="ui_scgg_control_tool_zoomin">
            <img src="static/components/images/scgg/tool-zoom-in.png"/>
        </button>
        <button id="scgg-tool-zoomout" type="button" class="btn btn-default sc-no-default-cmd btn-xs" sc_control_sys_idtf="ui_scgg_control_tool_zoomout">
            <img src="static/components/images/scgg/tool-zoom-out.png"/>
        </button>
        <button id="scgg-tool-random-graph" type="button" class="btn btn-default sc-no-default-cmd btn-xs" sc_control_sys_idtf="ui_scgg_control_tool_random_graph">
            <img src="static/components/images/scgg/tool-random-graph.jpg"/>
        </button>
        <button id="scgg-tool-integrate" type="button" class="btn btn-default sc-no-default-cmd btn-xs" sc_control_sys_idtf="ui_scgg_control_tool_integrate">
            <img src="static/components/images/scgg/tool-integrate.png"/>
        </button>
        <div id="scgg-tool-open" type="button" class="btn btn-default sc-no-default-cmd btn-xs" sc_control_sys_idtf="ui_scgg_control_tool_open">
            <input id="scgg-tool-open-dialog" type="file" style="visibility: hidden; position: absolute;">
            <img src="static/components/images/scgg/tool-open.png"/>
        </div>
        <button id="scgg-tool-save" type="button" class="btn btn-default sc-no-default-cmd btn-xs" sc_control_sys_idtf="ui_scgg_control_tool_save">
            <img src="static/components/images/scgg/tool-save.png"/>
        </button>
        <button id="scgg-tool-clear" type="button" class="btn btn-default sc-no-default-cmd btn-xs" sc_control_sys_idtf="ui_scgg_control_tool_clear">
            <img src="static/components/images/scgg/tool-clear.png"/>
        </button>
    </div>
</div>
