<input class="sc-no-default-cmd solve-param solve-add-param" type="button" readonly="readonly" data-title="Add element for solve"
       data-content="
            <div class='input-group'>
                <input id='solve-change-idtf-input' class='form-control pull-left' value='' autofocus />
                <div class='input-group-btn'>
                    </button><button type='button' id='solve-get-scaddr-cliker' class='btn btn-success'>
                        <span class='glyphicon glyphicon-screenshot'/>
                    </button>
                    </button><button type='button' id='solve-change-idtf-cancel' class='btn btn-danger'>
                        <span class='glyphicon glyphicon-remove-sign'/>
                    </button>
                </div>
            </div>"
       data-html="true" data-placement="bottom" data-toggle="popover" title=""/>
<button type="button" class="btn btn-danger delete-param"><span class="glyphicon glyphicon-remove-sign"></span></button>
