<div class="scgg-random-graph-panel">

    <div class="panel panel-default vertex-count">
        <div class="panel-heading">Количество вершин</div>
        <div class="has-success">
            <input class="slider-input" type="range" min="1" max="15" value="3">
            <input class="form-control" type="text" value="3" maxlength="2">
        </div>
    </div>

    <div class="panel panel-default edge-probability">
        <div class="panel-heading">Вероятность нахождения связи</div>
        <div class="has-success">
            <input class="slider-input" type="range" min="0" max="100" value="100">
            <input class="form-control" type="text" value="100" maxlength="3">
        </div>
    </div>

    <input class="btn btn-success create-graph" value="Сгенерировать граф" type="button">
</div>
