.SCggSvg {
  background-color: #fff;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.SCggText {
    fill: #00a;
    font-family: "Arial";
    font-style: italic;
    font-weight: bold;
    font-size: 14px;
    pointer-events: none;
    stroke: none;
}

.SCggNodeEmpty {
}

.SCggNode {
    fill: #eee;
    stroke: #000;
    stroke-width: 5px;
}

.SCggLink {
    fill: #eee;
    stroke: #000;
    stroke-width: 5px;
}

.SCggLinkContainer {
    display: block; 
    padding: 5px 0px 5px 5px;
    min-width: 25px;
    min-height: 25px;
    
}

/* --- Edges --- */
.SCggEdgeSelectBounds {
    stroke: none;
    stroke-width: 10px;
    fill: none;
}

.SCggEdge {
    fill: none;
    stroke-linejoin: round;
}

.SCggEdgeUnknown {
    stroke: #a00;
    stroke-width: 3px;
    fill: none;
}

.SCggEdgeCommonBack {
    stroke-width: 8px;
    fill: none;
}

.SCggEdgeCommonForeground {
    stroke-width: 5px;
    stroke: #fff;
    fill: none;
}

.SCggEdgeCommonForegroundVar {
    stroke-width: 5px;
    fill: none;
}

.SCggEdgeAccessComonDash {
    stroke-width: 4px;
    stroke-dasharray: 4, 4;
    fill: none;
}

.SCggEdgeAccessPerm {
    stroke-width: 2px;
    fill: none;
}

.SCggEdgeAccessTemp {
    stroke-width: 2px;
    stroke-dasharray: 2, 2;
    fill: none;
}

.SCggEdgeAccessTempVar {
    stroke-width: 2px;
    stroke-dasharray: 2, 2, 2, 2, 2, 2, 2, 14;
    fill: none;
}

.SCggEdgeEndArrowAccess {
    fill: none;
}

.SCggEdgeEndArrowCommon {
    fill: none;
}

.SCggEdgeVarDashAccessPerm {
    stroke-dasharray: 14, 14;
}

.SCggEdgeVarDashCommon {
    stroke-dasharray: 14, 14;
}

.SCggEdgePermNegDash {
    stroke-dasharray: 0, 20, 2, 6;
    stroke-width: 10px;
}

/* TODO */
.SCggEdgeFuzDash {
    stroke-dasharray: 0, 20, 2, 6;
    stroke-width: 10px;
}

/* --------- */
.SCggEdgePermDash {
    stroke-dasharray: 4, 10;
}

/* --- contours --- */
.SCggContour {
    fill: #ddddff;
    stroke: black;
    stroke-width: 2px;
    stroke-linejoin: round;
    opacity: 0.9;
}

.SCggRemovePoint {
    stroke: #FBF4F2;
    stroke-width: 3px;
    fill: #D60011;
}

.SCggAcceptPoint {
    stroke: #FBF4F2;
    stroke-width: 3px;
    fill: #33BB33;
}

.SCggAcceptPointHighlighted {
    stroke: #FcF5F3;
    stroke-width: 3px;
    fill: #44cc44;
}

.SCggRemovePointHighlighted {
    fill: #FF3300;
    stroke: #FFBE52;
}

.SCggLinePoint {
    stroke: #FBF4F2;
    stroke-width: 4px;
    fill: #D60011;
}

.SCggLinePointHighlighted {
    fill: #FF3300;
    stroke: #FFBE52;
    cursor: move;
}

path.dragline {
    stroke: #535A69;
    stroke-dasharray: 2,2;
    stroke-width: 2px;
    fill:   none;
}

path.draglineBus {
    stroke: blue;
    stroke-dasharray: 25,10,10,10;
    stroke-width: 5px;
    fill:   none;
}

path.SCggEdge.hidden {
    stroke-width: 0;
}

path.SCggBus {
    fill:   none;
    stroke: black;
    stroke-dasharray: none;
    stroke-width: 5px;
}

path.SCggBusPath {
    fill:   none;
    stroke-width: 5px;
}

/* ----- States ----- */
.SCggElement {
    cursor: pointer;
}

.SCggStateNormal {
    stroke: #777;
}

.SCggStateNormal.SCggStateHighlighted {
    stroke: #BBB;
}

.SCggStateMergedWithMemory {
    stroke: #076EDD;
}

.SCggStateMergedWithMemory.SCggStateHighlighted {
    stroke: #7189A3;
}

.SCggStateNewInMemory {
    stroke: #5E7027;
}

.SCggStateNewInMemory.SCggStateHighlighted {
    stroke: #AEB893;
}

.SCggStateFromMemory {
    stroke: #000;
}

.SCggStateFromMemory.SCggStateHighlighted {
    stroke: #444;
}

.SCggStateSelected {
    stroke: #C73E00;
}

.SCggStateSelected.SCggStateHighlighted {
    stroke: #FD8E00;
}

/* ------------- User interface -------------- */
.scgg-tools-panel {
    position: absolute;
}

.scgg-tools-panel img {
    width: 32px;
}

#scgg-set-content-input {
    resize: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

#scgg-set-content-buttons-group {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

#scgg-set-content-buttons-group button span {
    margin-right: 5px;
}

.scgg-type-list {
    max-height: 400px;
    overflow-y: scroll;
}

.tt-dropdown-menu .tt-dataset-idtf {
    background-color: #f5f5f5;
    border: 1px solid #a3a3a3;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    overflow-y: scroll;
    overflow-x: hidden;
    max-width: 450px;
    max-height: 400px;
}

.tt-dropdown-menu .tt-dataset-idtf .tt-suggestion {
    display: inline-block;
    max-width: 450px !important;
    white-space: normal !important;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}

.tt-dropdown-menu .tt-dataset-idtf .tt-suggestion p {
    margin: 5px 2px;
}

.tt-dropdown-menu .tt-dataset-idtf .tt-suggestion .tt-suggestion-icon {
    width: 16px;
    height: 16px;
    margin: auto 2px;
}

.tt-dropdown-menu .tt-dataset-idtf .tt-suggestions {
    width: 100%;
}

.tt-dropdown-menu .tt-dataset-idtf .tt-suggestion:nth-child(odd) {
    background-color: #e9e9e9;
}

.tt-dropdown-menu .tt-dataset-idtf .tt-suggestion:hover {
    background-color: #428bca !important;
}

/*------------ Graph name input -----------*/
.input-group {
    left: 110px;
    position: absolute;
}

.input-group .input-group-btn {
    width: 0;
}

.input-group input {
    width: 0;
}
